
<div id="main-wrapper" class="<?php echo $language->language; ?>">
  <div id="main" class="main clearfix">
    <div class="container">
      <div class="row">

        <div id="splash" class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2">
          
          <div class="container">
            
            <div class="row img-block">
              <div class="links">
                <a href="http://summit.creativecommons.org<?php if (is_korean()) echo '/kr' ?>">2015 CC Global Summit</a>
                <?php 
                if (user_is_logged_in()) {
                  echo l(t('My account'), 'user', array('attributes' => array('class' => array('pull-right'))));
                  echo '<br />';
                  echo l(t('Logout'), 'user/logout', array('attributes' => array('class' => array('pull-right'))));
                }
                else {
                  echo l(t('Login'), 'user/login', array('query' => array('destination' => 'node/add/logo'), 'attributes' => array('class' => array('pull-right')))); 
                  echo '<br />';
                  echo l(t('Create new account'), 'user/register', array('attributes' => array('class' => 'login-register pull-right', 'title' => t('Create a new user account'))));
                }
                ?>
              </div>
              <p><a href="/<?php echo $language->language; ?>"><img alt="" class="img-responsive img-centered" src="/sites/all/themes/ccgs_logo/assets/images/logo-icon.png" /></a></p>
              <p>&nbsp;</p>
              <hr  />
              <h1 id="logo-heading-en" class="text-center">CC Global Summit 2015<br /> Logo Contest Open for Voting!</h1>

              <?php if ($messages): ?>
              <div id="messages">
                <?php print $messages; ?>
              </div>
              <?php endif; ?>
              
            </div>

            <div class="row">
              
              <div class="notice col-sm-8 col-sm-offset-2 text-center">
  
                <p>CC Global Summit 2015 is held in Seoul, South Korea, in October 2015, to host people who believe in the values of sharing and openness and create positive change in the world.</p>

                <p>The Logo Contest for the CC Global Summit 2015 ran from June 8 through July 7 and submission is now closed.</p>

                <p>From established professional designers to students and amateurs, anyone with creative talent are welcome to join! </p>

                <p>&nbsp;</p>
                <div class="alert alert-info">
                  <p>Please help us pick the best logo design for the CC Global Summit 2015!<br />
                  (You can vote on more than one design; your vote on a certain design counts only once.)</p>
                </div>

                <p>After the online public voting and judging by the CC Selection Committee,<br /> the winning logo will be announced on July 23.</p>

              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

  </div> <!-- /#main -->
</div> <!-- /#main-wrapper -->