
<div id="main-wrapper" class="<?php echo $language->language; ?>">
  <div id="main" class="main clearfix">
    <div class="container">
      <div class="row">

        <div id="splash" class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2">
          
          <div class="container">
            
            <div class="row img-block">
              <div class="links">
                <a target="blank" href="http://summit.creativecommons.org">2015 CC Global Summit</a>
                <a href="/ko/" class="pull-right">한국어</a>
              </div>
              <p><a href="/en/"><img alt="" class="img-responsive img-centered" src="/sites/all/themes/ccgs_logo/assets/images/logo-icon.png" /></a></p>
              <p>&nbsp;</p>
              <hr  />
              <h1 id="logo-heading-en" class="text-center">CC Global Summit 2015<br />Logo Contest<br />Winner Announced!</h1>

              <?php if ($messages): ?>
              <div id="messages">
                <?php print $messages; ?>
              </div>
              <?php endif; ?>
              
            </div>

            <div class="row">
              
              <div class="notice col-sm-8 col-sm-offset-2 text-center">
                <p>Thanks to everyone who entered our Logo Contest which ran from June 8 to July 7, 2015.<br />
                After online public voting and Selection Committee's judging process, we are now very excited to announce the winner as below.</p>

                <p>Congratulations to <em>nareshagrawalart</em> for winning the contest!<br /> 
                  The organizers will contact the winner via e-mail regarding the prize.</p>

                <p>Thank you all who participated in the CC Global Summit 2015 Logo Contest again.</p>

                <p>Look forward to seeing you in Seoul this October!</p>

                <div class="alert alert-info">
                  <h3>Logo Contest Winner</h3>
                  <img id="finalist" src="/sites/default/files/styles/medium/public/cc_global_submit_2015-01-02.png" alt="">
                  <p>By nareshagrawalart_155</p>
                  <p class="desc">“The colorful circle symbolizes amalgamation of Knowledge by subject experts coming from diversified domains. Circles represent protective, unity, wholeness, and infinity. Without beginning or end, without sides or corners, the circle is also associated with the number one.”</p>
                </div>

              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

  </div> <!-- /#main -->
</div> <!-- /#main-wrapper -->