
<div id="main-wrapper">
  <div id="main" class="main clearfix">
    <div class="container">
      <div class="row">

        <div id="splash" class="col-lg-10 col-lg-offset-1">
          
          <div class="container">
            
            <div class="row img-block">

	            <div class="links">
	          		<a href="http://summit.creativecommons.org<?php if (is_korean()) echo '/kr' ?>">2015 CC Global Summit</a>
	          		<?php 
                if (user_is_logged_in()) {
                  echo l(t('My account'), 'user', array('attributes' => array('class' => array('pull-right'))));
                  echo '<br />';
                  echo l(t('Logout'), 'user/logout', array('attributes' => array('class' => array('pull-right'))));
                }
                else {
                  echo l(t('Login'), 'user/login', array('query' => array('destination' => 'node/add/logo'), 'attributes' => array('class' => array('pull-right'))));
                  echo '<br />';
                  echo l(t('Create new account'), 'user/register', array('attributes' => array('class' => 'login-register pull-right', 'title' => t('Create a new user account'))));
                }
                ?>
	          	</div>
              <p><a href="/<?php echo $language->language; ?>"><img alt="" class="img-responsive img-centered" src="/sites/all/themes/ccgs_logo/assets/images/logo-icon.png" /></a></p>
              <p>&nbsp;</p>
              <hr  />
              <h1 id="logo-heading-en" class="text-center">CC Global summit 2015를 함께 할 로고에 투표해주세요!</h1>

              <?php if ($messages): ?>
              <div id="messages">
                <?php print $messages; ?>
              </div>
              <?php endif; ?>
              
            </div>

            <div class="row">
              <div class="notice col-sm-8 col-sm-offset-2 text-center">
                <p>공유와 개방의 가치를 믿고, 긍정적인 변화를 만들어내는<br />
                사람들의 즐거운 축제가 10월, 한국에서 열립니다.</p>
                <p>한국에서 펼쳐질 CC Global summit 2015 로고 공모가<br />
                지난 6월 8일부터  7월 7일까지 진행되었습니다</p>
                <p>&nbsp;</p>
                <div class="alert alert-info">
                  <p>
                  접수된 아래 작품 중,<br />
                  CC Global summit 2015와 가장 잘 어울리는 로고에 투표해주세요!<br />
                  (여러 작품 투표 가능, 한 작품에 중복 투표 불가)
                  </p>
                </div>
                <p>온라인 투표와 심사 위원 평가를 거쳐 수상작은 7월 23일에 발표됩니다.</p>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

  </div> <!-- /#main -->
</div> <!-- /#main-wrapper -->